@charset "utf-8";
@import url(fonts.css);

 /* 변수설정 */
  :root {
	--primary1:#02908B;
    --primary1-rgb: 2, 144, 139;
	--primary2:#04C2C3;
	--primary3:#01B3B4;
	--secondary1:#011C2F;
	--secondary2 :#122D41;
	--secondary3 :#0A3F4E;
	--secondary4 :#7E9796;
	--secondary5 :#004F4F;
	--secondary6 :#16586A;
	--secondary6-rgb :22, 88, 106;
	--tertiary1: #2C3D4D;
	--tertiary2: #0A3F4E;
	--tertiary3: #060C2D;
	--quaternary:#004F4F;
	--positive: #51C2AC;
	--negative: #FF0000;
    --alert:#FF0000;
	--dismiss: #666666;
	/* red */
	--red-300 :#FF5F6A;
	--red-400 :#FF2E3C;
	--red-500 :#FA0011;
	/* green */
	--orange :#FF8B36;

    /* gray scale - text/icon/bg */
    --gray-scale1: #000;
    --gray-scale2: #040404;
    --gray-scale3: #444;
    --gray-scale4: #999;
    --gray-scale5: #DDD;
    --white: #fff;
    --white-rgb: 255, 255,255;

	--bg-dim-white: rgba(255, 255, 255, .8);
	--bg-dim-gray: rgba(79, 88, 103, .7);
	--bg-dim-primary : rgba(57, 132, 243, .08);
	--bg-dim-focusBlue : rgba(56, 130, 245, .1);
	--bg-readonly: #e9e9e9;
	--bg-disabled: #e9e9e9;

	--bx-s-default:0px 2px 4px rgba(15, 57, 97, 0.1);
	--bx-s-footer:0px -2px 4px rgba(15, 57, 97, 0.1);
	--input-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .16);
	--focused-box-shadow: inset 0 0 0 2px rgba(0, 162, 197, 1);
	--active-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .6);
	--focused-transition: box-shadow .3s ease;

    /* 폰트사이즈 변수설정 */
	--fs-ex:3.4rem;
	--fs-xxl:2.6rem;
	--fs-xl:2.4rem;
	--fs-l:1.8rem;
	--fs-ml:1.6rem;
	--fs-m:1.4rem;
	--fs-ms:1.3rem;
	--fs-s:1.2rem;
	--fs-xs:1.0rem;
	--fs-xxs:.8rem;

	/* 폰트두께변수설정 */
	--fw-regular: 400;
	--fw-default: 500;
	--fw-bold: 700;
  }

/* 요소(element) 여백 초기화  */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure, figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{word-wrap:break-word;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html,body{width:100%;height:100%;margin:0;}
html {-webkit-text-size-adjust: none;font-size: 10px; /* 1rem = 10px */} 
body {color:#333;  font-family:'NanumSquare', sans-serif; letter-spacing:-0.2px;font-size: 1.4rem; background-color: var(--secondary1);}


img {border:0; vertical-align:top;}

* {margin: 0;padding: 0;color: inherit;}
*,
:after,
:before {-webkit-box-sizing: border-box;box-sizing: border-box;-ms-flex-negative: 0;flex-shrink: 0;}
:root {-webkit-tap-highlight-color: transparent;-webkit-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-ms-text-size-adjust: 100%;text-size-adjust: 100%;cursor: default;line-height: 1.5;overflow-wrap: break-word;-moz-tab-size: 4;-o-tab-size: 4;tab-size: 4}
html,
body {height: 100%; overflow-y: hidden;}
img,
picture,
video
 {display: block;max-width: 100%;}
a {text-decoration: none}
table {border-collapse: collapse;border-spacing: 0}

/* 목록 */
ol, ul {list-style:none;}

/* 텍스트 관련 요소 초기화 */
address, caption, em, cite {font-weight:normal; font-style:normal;}

/* 테두리 없애기 */
fieldset, img, abbr, acronym { border:none; margin:0; padding:0;} 

/* 테이블 - 마크업에 'cellspacing="0"' 지정 함께 필요 */
table { border-collapse:collapse; border-spacing:0;}

/* 수평선*/
hr { display:none; }

/* 나눔고딕 볼드 설정 */
b, strong {font-weight:600;}

/* 윗첨자 아래첨자 */
sup, sub {font-size:10px;}

/* button 초기화 */
button {font-family:'NanumSquare', sans-serif;border: 0; background-color: transparent; vertical-align:middle; cursor:pointer; -webkit-appearance:none;appearance: none;  letter-spacing:-0.5px;}
button::-moz-focus-inner {padding:0; }


/* select ie 초기화 */
select:focus::-ms-value {background:none; color:#333;}

/* 전역클래스 */
.hidden {position:absolute; top:-10000em; overflow:hidden; height:0px; width:0px;}
.clear_box:after{content:''; display:block; clear:both;}
.dp_none {display:none;}
.fl {float:left;}
.fr {float:right;}
.ta_l {text-align:left !important; }
.ta_c {text-align:center !important; }
.ta_r {text-align:right !important; }
.va_t {vertical-align:top !important;}
.va_m {vertical-align:middle !important;}
.color1 {color:#0475F4}
.shadow {box-shadow: 0 2px 4px rgba(0,0,0,0.2);}
.htFit {height:calc(100% - 60px) !important}

/*======================== package */
/*margin 제어*/
.m0 {margin:0 !important;}
.m10{ margin:10px !important;}
.m20{ margin:20px !important;}
.m30{ margin:30px !important;}
.mt0 {margin-top:0px !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;} 
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.ml0 {margin-left:0px !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}
.mr0 {margin-right:0px !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;} 
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mb0 {margin-bottom:0px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;} 
.mb25 {margin-bottom:25px !important;} 
.mb30 {margin-bottom:30px !important;}
.mtb24 {margin: 2.4rem 0;}

/* padding 제어 */
.p0 {padding:0 !important;}
.p10{ padding:10px !important;}
.p20{ padding:20px !important;}
.p30{ padding:30px !important;}
.pt0 {padding-top:0px !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;} 
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pl0 {padding-left:0px !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}
.pr0 {padding-right:0px !important;}
.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;} 
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pb0 {padding-bottom:0px !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;} 
.pb25 {padding-bottom:25px !important;} 
.pb30 {padding-bottom:30px !important;}

/* height 제어 5단위*/
.ht10 {height:10px !important;}

/* width 제어 */
.wd0 {width:0% !important;}
.wd10 {width:10% !important;}
.wd20 {width:20% !important;}
.wd30 {width:30% !important;}
.wd40 {width:40% !important;}
.wd50 {width:50% !important;}
.wd60 {width:60% !important;}
.wd70 {width:70% !important;}
.wd80 {width:80% !important;}
.wd90 {width:90% !important;}
.wd100 {width:100% !important;}
.wd333333 {width:33.3333% !important;} .wd666666 {width:66.6666% !important}

/* input  */
textarea {
	width: 100%; 
	font-family: 'NanumSquare', sans-serif;
	font-size: var(--fs-m); 
	color: var(--c-gray-800);
	border: 1px solid var(--c-gray-200); 
	padding: 1.2rem; 
	border-radius: 1rem !important;
}
textarea:focus {
	outline: none; 
	border: 1px solid var(--cobalt-blue);
}

input, input:disabled{
	-webkit-appearance: none;
	appearance: none;
	-webkit-text-fill-color: inherit;
	opacity: 1; 
}
input{
	appearance: none;          
	-webkit-appearance: none;  
	-moz-appearance: none;     
	width: 100%; 
	height: 3.5rem; 
	font-family: 'NanumSquare', sans-serif;
	font-size: var(--fs-m); 
	color: var(--white);
	background-color: var(--tertiary1);
	padding: 0 1.2rem; 
	border: 0;
}
input:focus {
	outline: none; 
}
input::placeholder { color:rgba(var(--white-rgb),.3); }
/* Chrome, Safari, Opera, Microsoft Edge */
::-webkit-input-placeholder { color:rgba(var(--white-rgb),.3); }
/* Firefox 19+ */
::-moz-placeholder {  color:rgba(var(--white-rgb),.3); }
/* Firefox 18- */
:-moz-placeholder {  color:rgba(var(--white-rgb),.3); }
/* Internet Explorer 10-11 */
:-ms-input-placeholder {  color:rgba(var(--white-rgb),.3); }

input[type="checkbox"] {
	appearance: none;          
	-webkit-appearance: none;  
	-moz-appearance: none;     
	position: absolute;
	opacity: 0;
	width: 1px;
	height: 1px;
	cursor: pointer;
	padding:0;
	border: 0;
	outline: none;
  }
input[type="checkbox"]:focus-visible + .chkIcon,
input[type="checkbox"]:focus-visible + label::before {
  outline: 2px solid orange;
  border-radius: 4px;
}
input:disabled {pointer-events: none;}

/* radio button */
input[type="radio"] {
	appearance: none;          
	-webkit-appearance: none;  
	-moz-appearance: none;    
	position: absolute;
	opacity: 0;
	width: 1px;
	height: 1px;
	margin: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
	border: 0;
	outline: none;
}
input[type="radio"]:focus-visible + label {
  outline: 2px solid orange;
  outline-offset: 4px;
  border-radius: 4px;
}

select{
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background:var(--secondary2) url('../images/ico_select.svg')no-repeat right 1.2rem center / 1.2rem;
	border: 1px solid var(--secondary4);
	width: 100%; 
	height: 4rem; 
	font-family: 'NanumSquare', sans-serif;
	font-size: var(--fs-m); 
	color: var(--white);
	padding: 1rem 1.2rem;
	text-overflow: ellipsis;white-space: nowrap; max-width: 100%; overflow: hidden;
}