
/* 탭버튼 */
.tabDefault{display:flex;width:100%;}
.tabDefault button{flex:1;box-sizing:border-box;font-size:var(--fs-ml);color:#9B9EA8;height:4.8rem;font-weight:var(--fw-bold);background-color:var(--secondary1);border:1px solid var(--secondary3);}
.tabDefault button+button{margin-left:-1px;}
.tabDefault button.on{color:var(--white);background-color:var(--primary1);}
[data-tab-content][hidden] {display: none;}

/* 폼그룹 */
.formGroup > ul{width:100%;}
.formGroup > ul > li{display:flex;gap:.8rem;}
.formGroup > ul li+li{margin-top:.8rem;}
.formGroup > ul li .col{flex:1;}
.formGroup > ul li label {display: flex; align-items: center; flex: 1 1 50%;}
.formGroup > ul li label > span {flex-shrink: 0;width: 7rem; color: var(--white);}
.formGroup > ul li label > select {flex: 1;}
.formGroup > ul li label > input {flex: 1;}
.formGroup > ul li label .labelRow {flex: 1; display: flex; align-items: center; gap: .5rem; color: var(--white);}
.formGroup > ul li label .labelRow > span{flex-shrink: 0;}
.formGroup > ul li label .labelRow > input {flex: 1;}
.formGroup > ul li.fgBtn { justify-content: flex-end; padding: 1.5rem 0 3rem;}
/* 폼그룹 label width변경 */
.formGroup > ul.lagelW12 li label > span {flex-shrink: 0;width: 12rem; color: var(--white);}

.form_group {display:table; table-layout:fixed; border-collapse:collapse; position:relative; width:100%;}
.form_group dl{display:table-row-group;}
.form_group dl dt,
.form_group dl dd{display:table-cell; padding:1.5rem .5rem;border-right:0; border-top:0; vertical-align:middle;}
.form_group dl dt{width:14rem; padding-left:2rem; border-left:0;}
.form_group dl dt .bbsIco.marking{margin-left:-9px;}
.form_group dl dd{border-right:0;}
.form_group dl dd .dd_col{float:left;width:50%;}
.form_group dl.title dt,
.form_group dl.title dd{border-bottom-color:#666;}
.form_group dl dd textarea{width:100%; height:206px;}
.form_group input{max-width:100%;}

/* 박스그룹 */
.schbox ul {display: flex;width: 100%;}
.schbox ul li:first-child {flex: 1;}
.schbox ul li:last-child {width: 9rem;}
.schbox ul li button {margin-left: 1rem;}

.boxGroup {display: flex; width: 100%;}

/* hidden 접근성 관련 */
.blind{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0;}

/* input */
.schInput{height: 3.5rem; font-family: 'NanumSquare', sans-serif;font-size: var(--fs-m); color: var(--white);background-color: var(--tertiary1);padding: 0 1.2rem; border: 0;}
.schInput::placeholder { color:rgba(var(--white-rgb),.3); }
.dateInput {}
.dateInput::placeholder { color:var(--white); }

/* 버튼 */
.btn {min-width: 14rem; height: 4.2rem;display:flex;align-items:center; justify-content:center;font-size: var(--fs-ml);font-weight: var(--fw-bold); }
.basic {background-color: var(--primary1);}
.dark {background-color: var(--tertiary1);}

.schBtn {width: 8rem; height: 3.5rem;display:flex;align-items:center; justify-content:center;font-size: var(--fs-ms);font-weight: var(--fw-bold); background-color: var(--primary1); color: var(--white);}
.schBtn::before {content: "";display: inline-block; width: 1.4rem; height: 1.4rem; margin-right: 1rem;background:url('../images/ico_btnsch.svg') no-repeat center center/ 1.4rem; }

/* 리스트 */
.shipList {display: flex;flex-direction: column;gap: .8rem;}
.shipList li, .shipList li a {width: 100%; height: 4rem; display: flex;align-items: center;justify-content: flex-start;}
.shipList li a:hover, .shipList li a.active {background-color: var(--secondary3); border: solid 2px var(--primary1);}
.shipList li a {background-color: var(--secondary1);border: solid 2px transparent; border-radius: .6rem; padding: 1rem 1.2rem; color: var(--white); font-weight: var(--fw-bold);}
.shipList li a i {margin-right: .7rem;}
.shipList li a span:nth-of-type(4) {font-weight:normal;}
.shipList li a span.legend{margin-left:auto;display:flex;align-items:center;}
.shipList li a span .flagIcon{width:2.6rem;height:auto;display:block;}
.shipList li a span .legendShip{width:2.4rem;height:auto;display:block;}
.shipList li a span + span { padding: 0 .5rem;}

.cicle {width: 1.6rem; height: 1.6rem; border-radius: 50%; }
.default {background-color: var(--primary1);}
.red {background-color: #FF0000;}
.orng {background-color: #FFBC02;}
