
@charset "utf-8";

#wrap {
    //* main */
    #main {
        width: 100%;
        height: calc(100% - 4.4rem);
        position: relative;

        //* top-bar */
        .topBar {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            padding: 1.5rem 5.4rem;
        }

        //* top-location */
        .locationInfo {
            grid-column: 2;
            width: 71rem;
            max-width: 100%;
            height: 3.8rem;
            background-color: rgba(var(--secondary6-rgb), .9);

            ul {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            li {
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 1rem;
                color: var(--white);
                font-weight: var(--fw-bold);
                font-size: 1.3rem;

                &:first-child,
                &:last-child {
                padding: 0;
                }

                span + span {
                padding-right: .5rem;
                }

                &.divider {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 1.8rem;
                    background-color: rgba(255, 255, 255, .3);
                }
                }

                .wgs {
                display: flex;
                align-items: center;
                padding-right: .5rem;

                &::before {
                    content: "";
                    display: block;
                    width: 2rem;
                    height: 2rem;
                    margin-right: .5rem;
                    background: url(../assets/images/ico_globe.svg) no-repeat center / 2rem;
                }
                }

                .kst {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3.1rem;
                height: 1.8rem;
                margin-right: .5rem;
                border-radius: .3rem;
                background-color: var(--tertiary3);
                color: var(--white);
                font-size: var(--fs-s);
                }
            }
            }

            button {
            width: 4rem;
            height: 3.8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-sizing: border-box;
            background-color: var(--secondary3);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 3rem;

            &:hover,
            &.active {
                background-color: rgba(var(--primary1-rgb), .8);
            }

            &.map {
                background-image: url(../assets/images/ico_map.svg);
            }

            &.ship {
                background-image: url(../assets/images/ico_ship.svg);
            }

            &.set {
                width: 2rem;
                height: 2rem;
                background-color: transparent;
                background-image: url(../assets/images/ico_set_s.svg);
                background-size: 2rem;

                &:hover,
                &.active {
                background-color: transparent;
                }
            }
            }
        }

        //* top-search */
        .schBox {
            position: relative;
            grid-column: 3;
            justify-self: end;
            width: 20rem;
            height: 3.8rem;

            .sch {
            width: 100%;
            height: 100%;
            padding-right: 4.4rem;
            border-radius: 2rem;
            background-color: rgba(var(--secondary6-rgb), .9);

            &::placeholder {
                color: var(--white);
            }
            }

            .mainSchBtn {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 4rem;
            height: 3.8rem;
            font-size: 0;
            text-indent: -999999em;
            border: none;
            cursor: pointer;
            background: url(../assets/images/ico_search_main.svg) no-repeat center left / 2.4rem;
            }
        }
    }
}