
@charset "utf-8";

#wrap {
    
    #sidePanel {
        /* gnb */
        #nav {
            position: fixed;
            top: 4.4rem;
            left: 0;
            z-index: 100;
            width: 4.3rem;
            height: calc(100% - 4.4rem);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: var(--secondary1);
            border-right: 1px solid var(--tertiary2);

            .gnb {
                width: 4.2rem;
                display: flex;
                flex-direction: column;

                li {
                width: 100%;
                height: 4.4rem;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 3rem;

                    /* 공통 상태 */
                    &:hover,
                    &:active,
                    &.active {
                    background-color: var(--primary1);
                    }

                    /* gnb icons */
                    &.gnb1 {
                    background-image: url(../assets/images/ico_gnb01.svg);

                    &:hover,
                    &:active,
                    &.active {
                        background-image: url(../assets/images/ico_gnb01_on.svg);
                    }
                    }

                    &.gnb2 {
                    background-image: url(../assets/images/ico_gnb02.svg);

                    &:hover,
                    &:active,
                    &.active {
                        background-image: url(../assets/images/ico_gnb02_on.svg);
                    }
                    }

                    &.gnb3 {
                    background-image: url(../assets/images/ico_gnb03.svg);

                    &:hover,
                    &:active,
                    &.active {
                        background-image: url(../assets/images/ico_gnb03_on.svg);
                    }
                    }

                    &.gnb4 {
                    background-image: url(../assets/images/ico_gnb04.svg);

                    &:hover,
                    &:active,
                    &.active {
                        background-image: url(../assets/images/ico_gnb04_on.svg);
                    }
                    }

                    &.gnb5 {
                    background-image: url(../assets/images/ico_gnb05.svg);

                    &:hover,
                    &:active,
                    &.active {
                        background-image: url(../assets/images/ico_gnb05_on.svg);
                    }
                    }

                    &.gnb6 {
                    background-image: url(../assets/images/ico_gnb06.svg);

                    &:hover,
                    &:active,
                    &.active {
                        background-image: url(../assets/images/ico_gnb06_on.svg);
                    }
                    }
                }
                }
            }
            .side {
                width: 4.2rem;
                display: flex;
                flex-direction: column;

                li {
                    width: 100%;
                    height: 4.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                    width: 3rem;
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 3rem;
                    background-color: var(--primary3);

                    &.side1 {
                        background-image: url('../assets/images/ico_side01.svg');
                    }

                    &.side2 {
                        background-image: url('../assets/images/ico_side02.svg');
                    }
                    }
                }
            }

        }


        /* side-pannel */
        .slidePanel {
            position: fixed;
            top: 4.4rem;
            left: 4.3rem;
            width: 54rem;
            height: calc(100% - 4.4rem);
            display: flex;
            flex-direction: column;
            background-color: var(--secondary2);
            z-index: 99;
            transform: translateX(0);
            transition: transform .3s ease;

            /* 닫힘 상태 */
            &.is-closed {
                transform: translateX(-100%);

                .toogle::after {
                transform: translate(-50%, -50%) rotate(180deg);
                }
            }

            .tabBox {
                flex-shrink: 0;
                width: 100%;
                height: 4.8rem;
                padding: 0 1.9rem;
                margin-top: 1.5rem;
            }

            .tabWrap {
                flex: 1;
                min-height: 0;
                display: none;
                flex-direction: column;

                &.is-active {
                display: flex;
                }

                .tabTop {
                flex-shrink: 0;
                width: 100%;
                padding: 0 2rem;
                border-bottom: 1px solid var(--secondary1);

                .title {
                    height: 6.4rem;
                    font-size: var(--fs-ml);
                    color: var(--white);
                    padding: 2rem 0;
                }
                }

                .tabBtm {
                flex: 1;
                min-height: 0;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 3rem 1.9rem;
                }
            }

            .toogle {
                position: absolute;
                overflow: hidden;
                z-index: 10;
                top: 50%;
                left: 100%;
                width: 2.4rem;
                height: 5rem;
                border-radius: 0 1rem 1rem 0;
                transform: translateY(-50%);
                background-color: var(--secondary2);
                border: solid 1px var(--secondary3);

                &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 2.4rem;
                height: 2.4rem;
                transform: translate(-50%, -50%);
                background: url(../assets/images/ico_toggle.svg) no-repeat center / 2.4rem;
                transition: transform .3s ease;
                }
            }
        }

    }
}